/target/
/*.classpath
/*.project
/.settings/*.jsdtscope
/.settings/*.prefs
/.settings/*.component
/.settings/*.xml
/.settings/*.container
/.settings/*.name
/*.tern-project
/bin/
/.metadata/src/main/webapp/WEB-INF
/.idea/
.metadata
/RemoteSystemsTempFiles